:root {

    --white: #fff;
    --custom-white: #f2f2f2;
    --gray: #b9bbc0;
    --gray-dark: #5a5c69;
    --primary-light: #7ca6bb;
    --primary-medium: #4e85a0;
    --primary-dark: #0231f1;
    --green: #00796b;
    --red: #b30000;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: Roboto, "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* --------------------------------------------------------------- colors */

.bg-c-white {
    background-color: var(--custom-white);
}

.bg-dk-blue {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: white;
}

.bg-light-green {
    background-color: var(--green);
    border-color: var(--green);
    color: white;
}

.bg-light-green:hover {
    background-color: var(--green);
    border-color: var(--green);
    color: white;
}

.light-blue {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
    color: white;
}

.bg-m-blue {
    background-color: var(--primary-medium);
    border-color: var(--primary-medium);
    color: white;
}

.light-blue:hover {
    background-color: var(--primary-medium);
    border-color: var(--primary-medium);
    color: var(--custom-white);
}

.bg-dk-blue:hover {
    color: white;
}

.txt-dk-red {
    color: var(--red);
}

.txt-dk-blue {
    color: var(--primary-dark);
}

.txt-light-blue {
    color: var(--primary-light);
    font-weight: 600;
}

.txt-dk-grey {
    color: var(--gray-dark);
}

.txt-dk-green {
    color: var(--primary-medium);
}

.bg-dk-grey {
    background-color: #5a5c69;
    border-color: #5a5c69;
    color: white;

}

.bg-dk-grey:hover {
    color: #ffffff;
}

/* --------------------------------------------------------------- fonts */

.font-m-size {
    font-size: 35px;
}

.font-size-heading-1 {
    font-size: 1.5rem;
}

.font-size-heading-2 {
    font-size: 0.87rem;
}

.font-size-txt-m {
    font-size: 1.25rem;
}


/* --------------------------------------------------------------- base.html */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#content-wrapper {
    min-height: 100%;
    flex-grow: 1;
}

form {
    width: 100%;
}

.font-style-m {
 font-family: var(--font-family-monospace);
}

.font-style-s {
    font-family: var(--font-family-sans-serif);
   }
   



/* --------------------------------------------------------------- navbar */

.logo {
    width: 80px;
}


/* --------------------------------------------------------------- sidebar */

.scroll-contain {
    max-height: 300px; 
    overflow-y: auto;
    width: 100%
}

.profile-placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-container {
    height: 5vw;
    width: 5vw;
    overflow: hidden;
}


.square-btn {
    width: 30px !important;
    height: 30px !important;
    /* Set the height to be the same as the width for a square button */
}



/* --------------------------------------------------------------- trade_list.html */

.img-cat-home-size {
    max-width: 30%;
    height: auto;
}

.mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.p-box {
    border-radius: 5px;
    max-width: 325px;
    letter-spacing: 0.751px;
}

.card-text p {
    display: inline;
    margin-right: 10px;
    /* Add some margin if needed */
}

.float-right {
    width: 35%;
    float: right;
}

.txt-container {
    color: #343a40;
    padding: 5px;
    max-width: 410px;
}

.overflow-hidden {
    max-height: 155px;
    overflow: hidden;
}

.pencil_color {
    color: #6c757d;
}

.hide-cell {
    display: none;
}

.hidden-cell {
    display: table-cell;

}

.pointer {
    cursor: pointer;
}

.portfolio-h {
    height: 120px;
}

.chart-style {
    width: 15px;
    font-weight: bold;
    margin: auto auto;
}

.tooltip-container {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.tooltip-pointer {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}


/* Style for form fields */
.form-field {
    margin-bottom: 15px;
}

/* Style for checkbox label */
.checkbox-label {
    display: block;
    margin-bottom: 5px;
}

/* Style for select dropdown */
select {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
}

/* Style for submit button */
.submit-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Custom styles for the left column */
.custom-left-column {
    height: 50px;
    /* Set the height to 80% of the viewport height */
    overflow-y: auto;
    /* Add vertical scroll if content exceeds the height */
    max-width: 125px;
}

hr {
    height: 2px;
    background-color: #5a5c69;
    border: none;
    margin: 20px 0;
}

/* Style the container to add gaps on both sides */
.container {
    max-width: 90%;
    /* Set a maximum width to control the length of the line */
    margin: 0 auto;
    /* Center the container horizontally */
}

/* --------------------------------------------------------------- blog.html */

.text-container {
    color: #343a40;
    padding: 15px;
    max-width: 350px;
}

.circle-size {
    width: 35px;
    height: 35px;
}

.circle-m-size {
    width: 25px;
    height: 25px;
}

.circle-sm-size {
    width: 15px;
    height: 15px;
}

.trade-img-container {
    display: none;
    align-items: center;
}

.img-preview {
    max-width: 30%;
    height: auto;
    display: none;
}

.img-half-size {
    width: 50%;
}

.input-size {
    max-width: 150px;
}

.view-div {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.input-flex {
    flex: 1;
}

.full-size {
    width: 100%;
}

.display-none {
    display: none;
}

.comment-style {
    background-color: #f2f2f2;
    font-size: 12px;
    min-width: 130px;
}

.comment-style-1 {
    background-color: #f2f2f2;
    font-size: 12px;
    min-width: 130px;
}

/* Thin scrollbar for WebKit browsers (Chrome, Safari) */
.all-posts-box::-webkit-scrollbar {
    width: 8px;
}

.all-posts-box::-webkit-scrollbar-thumb {
    background-color: #ced4da;
    border-radius: 4px;
}

.all-posts-box::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}

#createPostModal .modal-dialog {
    max-width: 600px;
}

.modal-body input,
.modal-body textarea {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

/* Add this style in your HTML or external CSS file */
.modal-content {
    min-height: 300px;
    /* Adjust the value as needed */
}

/* Add this style in your HTML or external CSS file */
.modal-content {
    max-height: 80vh;
    /* Adjust the value as needed */
    overflow-y: auto;
}

.img-size {
    width: 100%;
}

.img-cat-size-blog {
    width: 25%;
    height: auto; 
    float: right;
}


/* --------------------------------------------------------------- contact.html */

/* Thin scrollbar for WebKit browsers (Chrome, Safari) */
.all-faqs-box::-webkit-scrollbar {
    width: 8px;
}

.all-faqs-box::-webkit-scrollbar-thumb {
    background-color: #ced4da;
    border-radius: 4px;
}

.all-faqs-box::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}

.response-item-scale {
    background-color: #f2f2f2;
    font-size: 12px;
    min-width: 130px;
    height: 95px;
}

.response-item-scale-3 {
    background-color: #f2f2f2;
    font-size: 12px;
    min-width: 130px;
    height: 95px;
}

.faqs-container {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}

.img-third-size {
    width: 30%;
    height: auto;
}

.img-cat-size {
    width: 25%;
    height: auto; 
    float: right;
}

.img-two-thirds-size {
    width: 40%;
    height: auto;
}

.min-width {
    min-width: 100%;
}

.txt-scale {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.call-to-action-contact {
    color: #343a40;
    padding: 15px;
    max-width: 350px;
}

.scale-float {
    width: 40%;
    float: right;
}


/* --------------------------------------------------------------- Media qQeries */

@media (min-width: 1200px) {
    /* Styles for extra large devices */
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Styles for large devices */

    .response-item-scale-3 {
        width: 450px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Styles for large devices */
    .font-size-heading-1 {
        font-size: 1.2rem;
    }

    .font-size-txt-m {
        font-size: 1rem;
    }

    .img-third-size {
        width: 25%;
    }

    .mt-4 {
        margin-top: .5rem !important;
    }

    .d-sm-inline-block {
        display: inline-block!important;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    .font-small {
        font-size: 0.75rem;
        margin-bottom: -10px;
    }

    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for medium devices */
    .response-item-scale-3 {
        width: 350px;
    }

    .font-size-heading-1 {
        font-size: 1.2rem;
    }

    .font-size-txt-m {
        font-size: 1rem;
    }

    .img-third-size {
        width: 25%;
    }

    .mt-4 {
        margin-top: .5rem !important;
    }

    .d-sm-inline-block {
        display: inline-block!important;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    .font-small {
        font-size: 0.5rem;
        margin-bottom: 0px;
    }

    .img-cat-size {
        width: 80%;
        height: auto;
        margin-left: 8rem;
        margin-right: 8rem;
        float: none;
    }

    .comment-style-1 {
        background-color: #f2f2f2;
        font-size: 12px;
        min-width: 300px;
    }
    

}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for small devices */
    .d-sm-inline-block {
        display: inline-block!important;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    .font-size-heading-1 {
        font-size: 1.2rem;
    }

    .font-size-txt-m {
        font-size: 1rem;
    }

    .img-third-size {
        width: 25%;
    }

    .mt-4 {
        margin-top: .5rem !important;
    }

    .font-small {
        font-size: 0.5rem;
        margin-bottom: 0px;
    }

    .img-cat-size {
        width: 90%;
        height: auto;
        margin-left: 8rem;
        margin-right: 8rem;
        float: none;
    }

    .circle-container {
        height: 10vw;
        width: 10vw;
        overflow: hidden;
    }

    .comment-style {
        background-color: #f2f2f2;
        font-size: 12px;
        min-width: 280px;
    }

    .comment-style-1 {
        background-color: #f2f2f2;
        font-size: 12px;
        min-width: 280px;
    }
}

@media (min-width: 326px) and (max-width: 567.98px) {
    .d-sm-inline-block {
        display: inline-block!important;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

}


@media (max-width: 575.98px) {

    /* Styles for extra small devices */

    .font-size-heading-1 {
        font-size: 1rem;
    }

    .font-size-txt-m {
        font-size: 1rem;
    }

    .img-cat-home-size {
        width: 10%;
    }

    
    .img-cat-size {
        width: 99%;
        height: auto;
        margin-left: 8rem;
        margin-right: 8rem;
        float: none;
    }

    .img-cat-size-blog {
        width: 82%;
    }

    .float-right {
        width: 92%;
        float: none;
    }

    .mt-4 {
        margin-top: 0.1rem !important;
    }

    .txt-container {
        width: 170px;
        
    }
    

    .p-box {
        font-size: 0.4rem;
        padding: 2px;
    }

    .font-small {
        font-size: 0.5rem;
        margin-bottom: 0px;
    }

    .mt-4 {
        margin-top: .5rem !important;
    }

    .mx-6 {
        margin-left: 0rem;
        margin-right: 3rem;
    }

    .img-hide {
      display: none;  
    }

    .circle-container {
        height: 15vw;
        width: 15vw;
        overflow: hidden;
    }
  
}