{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Blog" %}{% endblock head_title %}
<!-- Heading -->
{% block heading_blog %}
<h1 class="h4 m-1 text-muted">Blog</h1>
<div class="d-none d-sm-inline-block">
    <button type="button" class="btn btn-sm bg-dk-blue shadow-sm" data-bs-toggle="modal"
        data-bs-target="#createPostModal">
        <i class="fas fa-download fa-sm text-white-50"></i> Create Post
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Profile Picture Circle Box and Username -->
                <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-dk-blue overflow-hidden mx-1 circle-size">
                    </div>
                    <h2 class="modal-title mx-2 font-size-heading-1" id="createPostModalLabel">{{ request.user.username }}</h2>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'blog' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Post Title Input -->
                    <div class="mb-2">
                        <input type="text" class="form-control" name="title" placeholder="Post Title" required>
                    </div>
                    <!-- Content Input with Placeholder -->
                    <div class="mb-3">
                        <textarea class="form-control" name="content" placeholder="What do you want to talk about?"
                            required></textarea>
                    </div>
                    <!-- Trade Search Container -->
                    <div id="trade-container" class="trade-img-container">
                        <!-- Trade Search Input -->
                        <div class="mb-2 input-flex">
                            <input type="text" id="trade-search" class="form-control input-size"
                                placeholder="Search for a trade by ID">
                        </div>
                        <!-- Display a preview of the generated img here -->
                        <img id="trade-image-preview" class="img-preview mx-2" src="" alt="Trade Image Preview">
                        <input class="full-size" type="hidden" id="trade-image" name="trade_image" value="">
                        <!-- Checkbox and its label container -->
                    </div>
                    <!-- Display selected trade details here -->
                    <div id="selected-trade-details" class="mb-2 mt-2">
                        <p class="mx-2" id="selected-trade-info"></p>
                        <a id="download-image-link" href="#" class="display-none"><i class="fas fa-download"></i>
                            Download Image</a>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <div class="mb-2">
                            <input type="file" name="trade_image">
                        </div>
                        <!-- Share Trade Button -->
                        <button type="button" class="btn btn-secondary" id="share-trade-btn">Share Trade</button>
                        <button id="post-btn" type="submit" class="btn bg-dk-blue">Post <i
                                class="fas fa-edit"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Main Script -->
<script>
    $(document).ready(function () {
        // Function to handle trade search
        function searchTrade(query) {
            console.log('Searching for trade with query:', query);

            // Make an AJAX request to your backend to get user-specific trade details based on the query
            $.ajax({
                type: 'GET',
                url: '/search_trade/',
                data: {
                    'query': query,
                    'user_id': '{{ request.user.id }}'  // Pass the user's ID to the backend
                },
                success: function (response) {
                    console.log('Search results:', response);

                    // Update the search results
                    $('#search-results').empty(); // Clear previous results

                    // Display selected trade details
                    if (response.length > 0) {
                        var detailsHtml = "Selected trade: ";
                        for (var i = 0; i < response.length; i++) {
                            detailsHtml += `${response[i].symbol} on ${response[i].date}<br>`;
                            // Set selected trade details
                       

                            toggleAttachTradeContainer(response.length > 0);
                        }
                        $('#selected-trade-info').html(detailsHtml);

                        // Function to toggle the visibility of the checkbox container
                        function toggleAttachTradeContainer(showContainer) {
                            if (showContainer) {
                                // Show the checkbox and its label container
                                $('#attach-trade-container').css('display', 'flex');
                            } else {
                                // Hide the checkbox and its label container
                                $('#attach-trade-container').css('display', 'none');
                            }
                        }

                        // Display a preview of generated img here
                        const tradeDetails = response[0];
                        const tradeImageSrc = generateTradeImagePreview(tradeDetails);
                        $('#trade-image-preview').attr('src', tradeImageSrc).show();

                        // Set the base64-encoded image data to the hidden field
                        $('#trade-image').val(tradeImageSrc);
                    } else {
                        console.log('No trades found.');
                        $('#selected-trade-info').html('No trades found.');
                        // Hide the image preview if no trade is found
                        $('#trade-image-preview').hide();
                    }
                },
                error: function (error) {
                    console.error('Error during trade search:', error);
                }
            });

        }

        // Function to generate trade image preview 
        function generateTradeImagePreview(tradeDetails) {
            // Show the download link
            $('#download-image-link').show();
            const canvas = document.createElement('canvas');
            const ctx = canvas.getContext('2d');
            canvas.width = 500;
            canvas.height = 450;
            ctx.fillStyle = 'white';
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            // Draw overlay text
            ctx.fillStyle = 'white';
            ctx.fillStyle = '#CCCCCC';
            ctx.font = '60px Roboto';
            ctx.fillText(`${tradeDetails.symbol} | ${tradeDetails.long_short} | ${tradeDetails.leverage}x`, 20, 115);
            // Display return pnl with appropriate formatting
            const returnPnlText = (tradeDetails.return_pnl < 0 ? '-$' : '+$') + Math.abs(tradeDetails.return_pnl);
            ctx.font = '80px Roboto';
            ctx.fillStyle = '#0231f1';
            ctx.fillText(returnPnlText, 20, 225);
            ctx.fillStyle = '#CCCCCC';
            ctx.font = '22px Roboto';
            ctx.fillText(`Close Price  $${tradeDetails.current_price}       ${tradeDetails.user_name}`, 20, 285);
            ctx.fillText(`Avg. Open Price  $${tradeDetails.open_price}      ${tradeDetails.date}`, 20, 320);
            ctx.font = '40px Roboto';
            return canvas.toDataURL('image/png');
        }

        // Event listener for "Download Image" link
        $('#download-image-link').on('click', function (e) {
            e.preventDefault();

            // Get the data URL of the generated image
            var tradeImageSrc = $('#trade-image-preview').attr('src');

            // Create a temporary link element
            var downloadLink = document.createElement('a');
            downloadLink.href = tradeImageSrc;
            downloadLink.download = 'trade_image.png';

            // Trigger the click event on the link
            downloadLink.click();
        });

        // Event listener for trade search input
        $('#trade-search').on('input', function () {
            // Get the input value
            var query = $(this).val();

            // Call the searchTrade function with the original input value
            searchTrade(query);
        });

        // Event listener for "Share Trade" button
        $('#share-trade-btn').on('click', function () {
            // Toggle the visibility of the trade container
            $('#trade-container').toggle();
            $('#download-image-link').hide();

            // Set display: flex when the container is visible
            if ($('#trade-container').is(':visible')) {
                $('#trade-container').css('display', 'flex');
            }

            // Reset the form when the modal is closed
            if (!$('#trade-container').is(':visible')) {
                resetTradeForm();
            }
        });

        // Function to reset trade-related form elements
        function resetTradeForm() {
            // Clear the input value
            $('#trade-search').val('');

            // Clear the selected trade details
            $('#selected-trade-info').html('');

            // Hide the image preview
            $('#trade-image-preview').hide();

            // Reset the base64-encoded image data in the hidden field
            $('#trade-image').val('');

        }

        // Alternatively, you can use the button's data-bs-dismiss attribute
        $('.btn-close').click(function () {
            resetTradeForm();
            $('#trade-container').toggle();
            $('#download-image-link').hide();
        });

        // Event listener for "Share Trade" button
        $('#share-trade-btn').on('click', function () {
            // Toggle the visibility of the trade container
            $('#trade-container').toggle();

            // Reset the form when the modal is closed
            if (!$('#trade-container').is(':visible')) {
                resetTradeForm();
            }
        });


        // Event listener for "Share Trade" button
        $('#share-trade-btn').on('click', function () {
            // Toggle the visibility of the trade container
            $('#trade-container').toggle();
        });

        // Event listener for "Post" button
        $('#post-btn').on('click', function () {
            // Validate required fields
            var title = $('input[name="title"]').val();
            var content = $('textarea[name="content"]').val();


            if (!title || !content) {
                alert('Please fill in all required fields.');
                return;
            }

       

            alert('Posting trade image with attached trade details...');
        });

    });

</script>
{% endblock heading_blog %}


<!-- Sidebar Header -->
{% block sidebar_header_blog %}
<div class="card-header py-3 d-flex flex-row align-items-center bg-m-blue justify-content-between"
    data-bs-toggle="collapse" data-bs-target="#sidebarCollapse">
    <h1 class="m-0 font-size-heading-2 font-weight-bold text-white">
        <strong>Recent Posts</strong>
    </h1>
    <span class="toggle-icon pointer">&#x25BC;</span>
</div>

{% endblock sidebar_header_blog %}

<!-- Sidebar ## -->
{% block sidebar_blog %}

<!-- Display a separate box for viewing all posts as a list -->
<div class="all-posts-box p-3 rounded text-center" style="max-height: 300px; overflow-y: auto; width: 100%;">
    <ul class="list-group">
        {% for post in remaining_posts %}
        <li class="list-group-item small mb-1 bg-light">
            <span class="font-weight-bold text-muted">{{ post.user.username }}</span> -
            <span class="text-muted">{{ post.timestamp }}</span> -
            <a href="{% url 'view_post' post.id %}" aria-label="View post list" class="txt-dk-blue">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock sidebar_blog %}

{% block blog_content %}
{% for post in posts_sets.0 %}
<div class="box-1">
    <!-- Like Buttons Container -->
    <div class="position-absolute top-0 end-0 mt-2 mr-2 p-4">
        <form method="post" action="{% url 'like_toggle' %}" class="like-form d-flex align-items-center">
            {% csrf_token %}
            <input type="hidden" name="object_id" value="{{ post.id }}">
            <button type="submit" class="bg-transparent outline-0 border-0 like-button" aria-label="like button">
                {% if user_name and post.id in individual_like_counts %}
                <i class="fas txt-dk-grey fa-thumbs-up fa-1x"></i>
                {% else %}
                <i class="far txt-dk-grey fa-thumbs-up fa-1x"></i>
                {% endif %}
            </button>
            {% for post_id, like_count in individual_like_counts.items %}
            {% if post.id == post_id %}
            <p class="like-count ml-2 mt-1 font-style-m" data-object-id="{{ post.id }}">
                {% if like_count > 0 %}
                {{ like_count }}
                {% else %}
                0
                {% endif %}
            </p>
            {% endif %}
            {% endfor %}
        </form>
    </div>
    <div class="d-flex align-items-center justify-content-start mt-2">
        <div class="rounded-circle bg-dk-blue overflow-hidden mx-1 circle-size"></div>
        <div class="ml-2">
            <h1 class="small"><strong>{{ post.user.username }}</strong></h1>
            <h2 class="small">{{ post.timestamp }}</h2>
        </div>
    </div>
    <h1 class="font-size-heading-1">{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <div class="container">
        <hr>
    </div>
    <div class="d-flex align-items-center mt-2">
        <!-- Display existing comments if any -->
        <div class="existing-comments mt-3 mr-2">
            <h2 class="mb-2 small">
                Comments:
            </h2>
            <ul class="list-unstyled">
                {% if post.comment_set.all %}
                {% for comment in post.comment_set.all|slice:":2" %}
                <li class="mb-2">
                    <div class="comment-item d-flex flex-column p-2 rounded comment-style">
                        <div class="d-flex align-items-center mb-1">
                            <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size"></div>
                            <strong class="mx-1">{{ comment.user.username }}:</strong>
                        </div>
                        {{ comment.content }}
                    </div>
                </li>
                {% endfor %}
                {% else %}
                <!-- Loop three times for no comments placeholders -->
                {% for _ in "12" %}
                <li class="mb-2">
                    <div class="comment-item d-flex flex-column p-2 rounded comment-style">
                        <div class="d-flex align-items-center mb-1">
                            <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size"></div>
                            <strong class="mx-1">Placeholder User:</strong>
                        </div>
                        No comments yet.
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>

        {% if post.trade_image and 'placeholder' not in post.trade_image.url %}
        <!-- Actual Trade Image -->
        <img src="{{ post.trade_image.url }}" aria-label="Uploaded image e.g sharing your trade" class="img-half-size" alt="Trade Image">
        {% else %}
        <!-- Placeholder Image -->
        <img src="https://res.cloudinary.com/dwkn0vexk/image/upload/v1704492166/shutterstock_2281731899_vmmls4.jpg"
            class="img-half-size" alt="Placeholder" aria-label="Placeholder image">
        {% endif %}
    </div>

    <!-- View more container -->
    <div class="d-flex align-items-center justify-content-center">
        <a href="{% url 'view_post' post.id %}" aria-label="View post list" class="text-decoration-none text-white full-size ">
            <div class="text-center light-blue view-div">
                View More
            </div>
        </a>
    </div>
</div>
{% endfor %}
{% endblock blog_content %}

{% block blog_content_two %}
{% for post in posts_sets.1 %}
<div class="box-2">
   <!-- Like Buttons Container -->
   <div class="position-absolute top-0 end-0 mt-2 mr-2 p-4">
    <form method="post" action="{% url 'like_toggle' %}" class="like-form d-flex align-items-center">
        {% csrf_token %}
        <input type="hidden" name="object_id" value="{{ post.id }}">
        <button type="submit" class="bg-transparent outline-0 border-0 like-button" aria-label="like button">
            {% if user_name and post.id in individual_like_counts %}
            <i class="fas txt-dk-grey fa-thumbs-up fa-1x"></i>
            {% else %}
            <i class="far txt-dk-grey fa-thumbs-up fa-1x"></i>
            {% endif %}
        </button>
        {% for post_id, like_count in individual_like_counts.items %}
        {% if post.id == post_id %}
        <p class="like-count ml-2 mt-1 font-style-m" data-object-id="{{ post.id }}">
            {% if like_count > 0 %}
            {{ like_count }}
            {% else %}
            0
            {% endif %}
        </p>
        {% endif %}
        {% endfor %}
    </form>
</div>
<div class="d-flex align-items-center justify-content-start mt-2">
    <div class="rounded-circle bg-dk-blue overflow-hidden mx-1 circle-size"></div>
    <div class="ml-2">
        <h1 class="small"><strong>{{ post.user.username }}</strong></h1>
        <h2 class="small">{{ post.timestamp }}</h2>
    </div>
</div>
<h1 class="font-size-heading-1">{{ post.title }}</h1>
<p>{{ post.content }}</p>
<div class="container">
    <hr>
</div>
<div class="d-flex align-items-center mt-2">
    <!-- Display existing comments if any -->
    <div class="existing-comments mt-3 mr-2">
        <h2 class="mb-2 small">
            Comments:
        </h2>
        <ul class="list-unstyled">
            {% if post.comment_set.all %}
            {% for comment in post.comment_set.all|slice:":2" %}
            <li class="mb-2">
                <div class="comment-item d-flex flex-column p-2 rounded comment-style">
                    <div class="d-flex align-items-center mb-1">
                        <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size"></div>
                        <strong class="mx-1">{{ comment.user.username }}:</strong>
                    </div>
                    {{ comment.content }}
                </div>
            </li>
            {% endfor %}
            {% else %}
            <!-- Loop three times for no comments placeholders -->
            {% for _ in "12" %}
            <li class="mb-2">
                <div class="comment-item d-flex flex-column p-2 rounded comment-style">
                    <div class="d-flex align-items-center mb-1">
                        <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size"></div>
                        <strong class="mx-1">Placeholder User:</strong>
                    </div>
                    No comments yet.
                </div>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>

    {% if post.trade_image and 'placeholder' not in post.trade_image.url %}
    <!-- Actual Trade Image -->
    <img src="{{ post.trade_image.url }}" aria-label="Uploaded image e.g sharing your trade" class="img-half-size" alt="Trade Image">
    {% else %}
    <!-- Placeholder Image -->
    <img src="https://res.cloudinary.com/dwkn0vexk/image/upload/v1704492166/shutterstock_2281731899_vmmls4.jpg"
        class="img-half-size" alt="Placeholder" aria-label="Placeholder image">
    {% endif %}
</div>

<!-- View more container -->
<div class="d-flex align-items-center justify-content-center">
    <a href="{% url 'view_post' post.id %}" aria-label="View post list" class="text-decoration-none text-white full-size ">
        <div class="text-center light-blue view-div">
            View More
        </div>
    </a>
</div>
</div>
{% endfor %}
{% endblock blog_content_two %}

{% block blog_content_three %}
{% for post in posts_sets.2 %}
<div class="box-3">
   <!-- Like Buttons Container -->
   <div class="position-absolute top-0 end-0 mt-2 mr-2 p-4">
    <form method="post" action="{% url 'like_toggle' %}" class="like-form d-flex align-items-center">
        {% csrf_token %}
        <input type="hidden" name="object_id" value="{{ post.id }}">
        <button type="submit" class="bg-transparent outline-0 border-0 like-button" aria-label="like button">
            {% if user_name and post.id in individual_like_counts %}
            <i class="fas txt-dk-grey fa-thumbs-up fa-1x"></i>
            {% else %}
            <i class="far txt-dk-grey fa-thumbs-up fa-1x"></i>
            {% endif %}
        </button>
        {% for post_id, like_count in individual_like_counts.items %}
        {% if post.id == post_id %}
        <p class="like-count ml-2 mt-1 font-style-m" data-object-id="{{ post.id }}">
            {% if like_count > 0 %}
            {{ like_count }}
            {% else %}
            0
            {% endif %}
        </p>
        {% endif %}
        {% endfor %}
    </form>
</div>
<div class="d-flex align-items-center justify-content-start mt-2">
    <div class="rounded-circle bg-dk-blue overflow-hidden mx-1 circle-size"></div>
    <div class="ml-2">
        <h1 class="small"><strong>{{ post.user.username }}</strong></h1>
        <h2 class="small">{{ post.timestamp }}</h2>
    </div>
</div>
<h1 class="font-size-heading-1">{{ post.title }}</h1>
<p>{{ post.content }}</p>
<div class="container">
    <hr>
</div>
<div class="d-flex align-items-center mt-2">
    <!-- Display existing comments if any -->
    <div class="existing-comments mt-3 mr-2">
        <h2 class="mb-2 small">
            Comments:
        </h2>
        <ul class="list-unstyled">
            {% if post.comment_set.all %}
            {% for comment in post.comment_set.all|slice:":2" %}
            <li class="mb-2">
                <div class="comment-style-1 comment-item d-flex flex-column p-2 rounded">
                    <div class="d-flex align-items-center mb-1">
                        <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size"></div>
                        <strong class="mx-1">{{ comment.user.username }}:</strong>
                    </div>
                    {{ comment.content }}
                </div>
            </li>
            {% endfor %}
            {% else %}
            <!-- Loop three times for no comments placeholders -->
            {% for _ in "12" %}
            <li class="mb-2">
                <div class="comment-style-1 comment-item d-flex flex-column p-2 rounded">
                    <div class="d-flex align-items-center mb-1">
                        <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size"></div>
                        <strong class="mx-1">Placeholder User:</strong>
                    </div>
                    No comments yet.
                </div>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>

    {% if post.trade_image and 'placeholder' not in post.trade_image.url %}
    <!-- Actual Trade Image -->
    <img src="{{ post.trade_image.url }}" aria-label="Uploaded image e.g sharing your trade" class="img-half-size" alt="Trade Image">
    {% else %}
    <!-- Placeholder Image -->
    <img src="https://res.cloudinary.com/dwkn0vexk/image/upload/v1704492166/shutterstock_2281731899_vmmls4.jpg"
        class="img-half-size" alt="Placeholder" aria-label="Placeholder image">
    {% endif %}
</div>

<!-- View more container -->
<div class="d-flex align-items-center justify-content-center">
    <a href="{% url 'view_post' post.id %}" aria-label="View post list" class="text-decoration-none text-white full-size ">
        <div class="text-center light-blue view-div">
            View More
        </div>
    </a>
</div>
</div>
{% endfor %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'js/likeButton.js' %}"></script>
{% endblock blog_content_three %}

{% block blog_content_four %}
<div class="box-4">
    {% if post %}
    <div class="d-flex align-items-center justify-content-between mt-2">
        <div class="d-flex align-items-center">
            <div class="rounded-circle bg-dk-blue overflow-hidden mx-1 circle-size"></div>
            <div class="ml-2">
                <h1 class="small"><strong>{{ post.user.username }}</strong></h1>
                <h2 class="small">Published: {{ post.timestamp }}</h2>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <h1 class="font-size-heading-1">{{ post.title }}</h1>
        <div class="position-absolute top-0 end-0 mt-2 mr-2 p-4">
            <form method="post" action="{% url 'like_toggle' %}" class="like-form d-flex align-items-center">
                {% csrf_token %}
                <input type="hidden" name="object_id" value="{{ post.id }}">
                <button type="submit" class="bg-transparent outline-0 border-0 like-button"  aria-label="Like button">
                    {% if user_name and post.id in individual_like_counts %}
                    <i class="fas txt-dk-grey fa-thumbs-up fa-1x"></i>
                    {% else %}
                    <i class="far txt-dk-grey fa-thumbs-up fa-1x"></i>
                    {% endif %}
                </button>
                {% for post_id, like_count in individual_like_counts.items %}
                {% if post.id == post_id %}
                <p class="like-count ml-2 mt-1 font-style-m" data-object-id="{{ post.id }}">
                    {% if like_count > 0 %}
                    {{ like_count }}
                    {% else %}
                    0
                    {% endif %}
                </p>
                {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>
    <p>{{ post.content }}</p>
    <hr>

    <!-- Display existing comments if any -->
    <div class="existing-comments mt-3">
        <h2 class="mb-2 small">Comments:</h2>
        <ul class="list-unstyled">
            {% for comment in post.comment_set.all %}
            <li class="mb-2">
                <div class="comment-item d-flex align-items-center p-2 rounded bg-c-white">
                    <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-m-size">
                    </div>
                    <strong class="mx-1">{{ comment.user.username }}</strong>: {{ comment.content }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <hr>

    <!-- Comment box goes here -->
    <div class="comment-box mt-3">
        <form method="post" action="{% url 'add_comment' post.id %}">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <textarea class="form-control" name="content" rows="4" placeholder="Add your comment"></textarea>
            <button type="submit" class="btn bg-dk-blue mt-2">Add Comment</button>
        </form>
    </div>
    {% else %}

    <!-- Display the Cloudinary image and the call-to-action statement -->
    <div class="no-posts position-relative overflow-hidden">
        <img src="https://res.cloudinary.com/dwkn0vexk/image/upload/v1704549667/shutterstock_226194922911_xpn1nz.jpg"
            alt="call-to-action" class="mx-5 img-cat-size-blog" aria-label="Call to action">
        <!-- Overlay div with absolute positioning -->
        <div class="position-absolute top-0 start-0 txt-container p-1 mx-2 mt-2">
            <h2 class="font-size-heading-1">Join the Trader Tribe community.</h2>
            <p class="text-muted font-small bg-light p-box font-size-heading-2"> Share your trades, connect with fellow traders, and learn together. Your journey starts here!</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock blog_content_four %}