{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Blog" %}{% endblock head_title %}

<!-- Heading -->
{% block heading_blog %}
<h1 class="h4 m-1 --gray-dark text-muted">Blog</h1>
{% endblock heading_blog %}

<!-- Sidebar Header -->
{% block sidebar_header_blog %}
<div style="background-color: #6c757d;"
class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
data-bs-toggle="collapse" data-bs-target="#sidebarCollapse">
    <h6 class="m-0 font-weight-bold text-white">###</h6>
    <span class="toggle-icon pointer">&#x25BC;</span>
</div>
{% endblock sidebar_header_blog %}

<!-- Sidebar ## -->
{% block sidebar_blog %}

{% endblock sidebar_blog %}

{% block blog_content %}
<h1>box 1</h1>
{% endblock blog_content %}

{% block blog_content_two %}
<!-- Content from blog.html goes here -->
<h1>box 2</h1>
{% endblock blog_content_two %}

{% block blog_content_three %}
<!-- Content from blog.html goes here -->
<h1>box 3</h1>
{% endblock blog_content_three %}

{% block blog_content_four %}
<!-- Content from blog.html goes here -->
<h1>box 4</h1>
{% endblock blog_content_four %}
