{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Contact" %}{% endblock head_title %}

<!-- Heading -->
{% block heading_contact %}
<h1 class="h4 m-1 text-muted">Contact Us</h1>
<div class="d-none d-sm-inline-block">
    <button type="button" class="btn btn-sm bg-dk-blue" aria-label="FAQ Request" data-bs-toggle="modal" data-bs-target="#faqModal">
        FAQ Request
    </button>
</div>

<div class="modal fade" id="faqModal" tabindex="-1" aria-labelledby="faqModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="faqModalLabel">FAQ Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="faqRequestForm" action="{% url 'submit_faq_request' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>

                    <div class="mb-3">
                        <label for="content" class="form-label">Your Question:</label>
                        <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                    </div>

                    <button type="submit" aria-label="submit" class="btn bg-dk-blue">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock heading_contact %}

<!-- Sidebar Header -->
{% block sidebar_header_contact %}
<div class="card-header light-blue py-3 d-flex flex-row align-items-center justify-content-between"
    data-bs-toggle="collapse" data-bs-target="#sidebarCollapse">
    <p class="m-0 font-weight-bold text-white">FAQs</p>
    <span class="toggle-icon pointer">&#x25BC;</span>
</div>
{% endblock sidebar_header_contact %}

<!-- Sidebar FAQs -->
{% block sidebar_contact %}

<!-- Display a separate box for viewing all FAQs as a list -->
<div class="all-faqs-box p-3 rounded text-center faqs-container">
    {% for faq in updated_remaining_faqs %}
    {% if faq.is_approved %}
    <ul class="list-group">
        <li class="list-group-item small mb-1 bg-light">
            <span class="text-muted">{{ faq.timestamp }}</span> -
            <a href="{% url 'view_faq' faq.id %}" class="txt-dk-blue">{{ faq.title }}</a>
        </li>
        {% else %}
        <li class="list-group-item small mb-1 bg-light">
            <span class="text-muted">{{ faq.timestamp }}</span> -
            <p class="txt-dk-blue text-decoration-underline">Pending</p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock sidebar_contact %}

{% block contact_content %}
<!-- Content from contact.html goes here -->
<div class="container mt-3 box-1">
    <div class="row">
        {% for faq in faqs_sets.0 %}
        <div class="d-flex align-items-center justify-content-start mt-2">
            <div class="box">
                {% if faq.is_approved %}
                <h1 class="font-size-heading-1">{{ faq.title }}</h1>
                <p>{{ faq.timestamp }}</p>
                <p>{{ faq.question }}</p>
                {% else %}
                <h1 class="font-size-heading-1">FAQs</h1>
                <p>{{ faq.timestamp }}</p>
                <p>Thank you for your patience.</p>
                {% endif %}
                <div class="container">
                    <hr>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div class="existing-responses mt-3 mr-2">
                        <h2 class="mb-2 small">
                            Admin Response:
                        </h2>
                        <ul class="list-unstyled">
                            {% if faq.adminresponse_set.all %}
                            {% for response in faq.adminresponse_set.all %}
                            <li class="mb-2">
                                <div class="response-item d-flex flex-column p-2 rounded response-item-scale">
                                    <div class="d-flex align-items-center mb-1">
                                        <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size">
                                        </div>
                                        <strong class="mx-1">Admin:</strong>
                                    </div>
                                    {{ response.response|slice:":62" }}
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li class="mb-2">
                                <div class="response-item d-flex flex-column p-2 rounded response-item-scale">
                                    <div class="d-flex align-items-center mb-1">
                                        <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size">
                                        </div>
                                        <strong class="mx-1">Admin:</strong>
                                    </div>
                                    No admin responses yet.
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- Placeholder Image -->
                    <img src="https://res.cloudinary.com/dwkn0vexk/image/upload/v1704645269/shutterstock_2284484139redo_mf6ium.png"
                        class="mx-4 img-third-size" aria-label="Placeholder image of cogs turning" alt="Placeholder">
                </div>

                <!-- View more container -->
                <div class="d-flex align-items-center justify-content-center">
                    <a href="{% url 'view_faq' faq.id %}" aria-label="View FAQ or if no response pending" class="text-decoration-none text-white min-width">
                        <div class="text-center light-blue txt-scale">
                            {% if faq.is_approved %}
                            FAQs
                            {% else %}
                            Pending
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contact_content %}




{% block contact_content_two %}
<!-- Content from contact.html goes here -->
<div class="container mt-3 box-2">
    <div class="row">
        {% for faq in faqs_sets.0 %}
        <div class="d-flex align-items-center justify-content-start mt-2">
            <div class="box">
                {% if faq.is_approved %}
                <h1 class="font-size-heading-1">{{ faq.title }}</h1>
                <p>{{ faq.timestamp }}</p>
                <p>{{ faq.question }}</p>
                {% else %}
                <h1  class="font-size-heading-1">FAQs</h1>
                <p>{{ faq.timestamp }}</p>
                <p>Thank you for your patience.</p>
                {% endif %}
                <div class="container">
                    <hr>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div class="existing-responses mt-3 mr-2">
                        <h2 class="mb-2 small">
                            Admin Response:
                        </h2>
                        <ul class="list-unstyled">
                            {% if faq.adminresponse_set.all %}
                            {% for response in faq.adminresponse_set.all %}
                            <li class="mb-2">
                                <div class="response-item d-flex flex-column p-2 rounded response-item-scale">
                                    <div class="d-flex align-items-center mb-1">
                                        <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size">
                                        </div>
                                        <strong class="mx-1">Admin:</strong>
                                    </div>
                                    {{ response.response|slice:":62" }}
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li class="mb-2">
                                <div class="response-item d-flex flex-column p-2 rounded response-item-scale">
                                    <div class="d-flex align-items-center mb-1">
                                        <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size">
                                        </div>
                                        <strong class="mx-1">Admin:</strong>
                                    </div>
                                    No admin responses yet.
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- Placeholder Image -->
                    <img src="https://res.cloudinary.com/dwkn0vexk/image/upload/v1704645269/shutterstock_2284484139redo_mf6ium.png"
                        class="mx-4 img-third-size" aria-label="Placeholder image of cogs turning" alt="Placeholder">
                </div>

                <!-- View more container -->
                <div class="d-flex align-items-center justify-content-center">
                    <a href="{% url 'view_faq' faq.id %}" aria-label="View FAQ or if no response pending" class="text-decoration-none text-white min-width">
                        <div class="text-center light-blue txt-scale">
                            {% if faq.is_approved %}
                            FAQs
                            {% else %}
                            Pending
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contact_content_two %}

{% block contact_content_three %}
<div class="container mt-3 box-3">
    <div class="row">
        {% for faq in faqs_sets.0 %}
        <div class="d-flex align-items-center justify-content-start mt-2">
            <div class="box">
                {% if faq.is_approved %}
                <h1 class="font-size-heading-1">{{ faq.title }}</h1>
                <p>{{ faq.timestamp }}</p>
                <p>{{ faq.question }}</p>
                {% else %}
                <h1  class="font-size-heading-1">FAQs</h1>
                <p>{{ faq.timestamp }}</p>
                <p>Thank you for your patience.</p>
                {% endif %}
                <div class="container">
                    <hr>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div class="existing-responses mt-3 mr-2">
                        <h2 class="mb-2 small">
                            Admin Response:
                        </h2>
                        <ul class="list-unstyled">
                            {% if faq.adminresponse_set.all %}
                            {% for response in faq.adminresponse_set.all %}
                            <li class="mb-2">
                                <div class="response-item d-flex flex-column p-2 rounded response-item-scale">
                                    <div class="d-flex align-items-center mb-1">
                                        <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size">
                                        </div>
                                        <strong class="mx-1">Admin:</strong>
                                    </div>
                                    {{ response.response|slice:":62" }}
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li class="mb-2">
                                <div class="response-item d-flex flex-column p-2 rounded response-item-scale">
                                    <div class="d-flex align-items-center mb-1">
                                        <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size">
                                        </div>
                                        <strong class="mx-1">Admin:</strong>
                                    </div>
                                    No admin responses yet.
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- Placeholder Image -->
                    <img src="https://res.cloudinary.com/dwkn0vexk/image/upload/v1704645269/shutterstock_2284484139redo_mf6ium.png"
                        class="mx-4 img-third-size" aria-label="Placeholder image of cogs turning" alt="Placeholder">
                </div>

                <!-- View more container -->
                <div class="d-flex align-items-center justify-content-center">
                    <a href="{% url 'view_faq' faq.id %}" aria-label="View FAQ or if no response pending" class="text-decoration-none text-center light-blue txt-scaletext-white min-width">
                        <div class="text-center light-blue txt-scale">
                            {% if faq.is_approved %}
                            FAQs
                            {% else %}
                            Pending
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contact_content_three %}

{% block contact_content_four %}
<!-- Content from contact.html goes here -->
<!-- Content to display when contact form is submitted -->
<div id="thankYouContainer" class="container mt-3 display-none">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="mb-4">Thank you for your submission!</h2>
            <p class="small mb-4">We appreciate your feedback. Our team will review it shortly.</p>
        </div>
    </div>
</div>
<!-- Content from contact.html goes here -->
<div id="containerForm" class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="mb-4">Your Voice Matters!</h2>
            <p class="small mb-4">We're Open to Your Suggestions! Drop us an email, and let's discuss how we
                can tailor our platform to better serve the needs of trades. Your input shapes the future!</p>

            <form id="contactForm" onsubmit="return sendMail(this);" method="POST">
                {% csrf_token %}
                <!-- Your simplified contact form code goes here -->
                <div class="form-group">
                    <label aria-label="Name" for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label aria-label="Email" for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label aria-label="Message" for="message">Message:</label>
                    <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                </div>

                <div class="form-group mt-3 mb-2">
                    <button type="submit" aria-label="Contact us submission" class="btn bg-dk-blue btn-block">Contact Us</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/email.js' %}"></script>
</script>
{% endblock contact_content_four %}

{% block contact_call_to_action %}
{% if faq %}
<div class="faq-details">
    <div class="d-flex align-items-center justify-content-between mt-2">
        <div class="d-flex align-items-center">
            <div class="rounded-circle bg-dk-blue overflow-hidden mx-1 circle-size"></div>
            <div class="ml-2">
                <h1 class="font-size-heading-1 small"><strong>Admin</strong></h1>
                <h2 class="small">Published: {{ faq.timestamp }}</h2>
            </div>
        </div>
    </div>
    <h2 class="font-size-heading-2">{{ faq.title }}</h2>
    <p>{{ faq.question }}</p>

    <!-- Display admin responses -->
    {% if faq.adminresponse_set.all %}
    <h3 class="small">Admin Responses:</h3>
    <ul class="list-unstyled">
        {% for admin_response in faq.adminresponse_set.all %}
        <li class="mb-2">
            <div class="comment-item d-flex align-items-center p-2 rounded bg-c-white">
                <div class="rounded-circle bg-dk-blue overflow-hidden mr-2 circle-sm-size"></div>
                <strong class="mx-1">Admin</strong>: {{ admin_response.response }}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% else %}
<!-- Display the Cloudinary image and the call-to-action statement -->
<div class="no-posts position-relative">
    <!-- Overlay div with absolute positioning -->
    <div class="position-absolute top-0 start-0 call-to-action-contact">
        <h1 class="font-m-size">Join the FAQ Community.</h1>
        <p class="text-muted">Ask, connect, learn – where your questions find answers and your journey begins!
        </p>
        <div class="d-none d-sm-inline-block">
            <button type="button" class="btn bg-dk-blue" data-bs-toggle="modal" data-bs-target="#faqModal">
                FAQ Request
            </button>
        </div>
    </div>
    <img src="https://res.cloudinary.com/dwkn0vexk/image/upload/v1704719788/way_h06gb9.jpg" aria-label="Arrow direction picture" class="scale-float"
        alt="No Posts Image">
</div>
{% endif %}
{% endblock contact_call_to_action %}