{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Trade List" %}{% endblock head_title %}

<!-- Heading -->
{% block heading_home %}
<h1 class="h4 m-1 --gray-dark text-muted">Dashboard</h1>
<a href="{% url 'generate_report' %}?format=pdf"
class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
{% endblock heading_home %}

<!-- Sidebar Header -->
{% block sidebar_header_home %}
<div style="background-color: #6c757d;"
class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
data-bs-toggle="collapse" data-bs-target="#sidebarCollapse">
    <h6 class="m-0 font-weight-bold text-white">Filters</h6>
    <span class="toggle-icon pointer">&#x25BC;</span>
</div>

{% endblock sidebar_header_home %}

<!-- Sidebar Filters -->
{% block sidebar_home %}
<form>
    <label>
        <input type="checkbox" name="symbol" value="open" class="pointer">
        <i class="fas fa-check"></i> Open
    </label>

    <label>
        <input type="checkbox" name="symbol" value="closed" class="pointer">
        <i class="fas fa-times"></i> Closed
    </label>

    <label>
        <input type="checkbox" name="symbol" value="profit" class="pointer">
        <i class="fas fa-chart-line"></i> Profit
    </label>

    <label>
        <input type="checkbox" name="symbol" value="loss" class="pointer">
        <i class="fas fa-chart-line"></i> Loss
    </label>

    <label>
        <input type="checkbox" name="time" value="day" class="pointer">
        <i class="fas fa-sun"></i> Day
    </label>

    <label>
        <input type="checkbox" name="time" value="week" class="pointer">
        <i class="fas fa-calendar-week"></i> Week
    </label>

    <label>
        <input type="checkbox" name="time" value="month" class="pointer">
        <i class="fas fa-calendar"></i> Month
    </label>

    <label>
        <input type="checkbox" name="time" value="year" class="pointer">
        <i class="fas fa-calendar-alt"></i> Year
    </label>
</form>
{% endblock sidebar_home %}

{% block portfolio_balance_content %}
<!-- Box 1 -->
<div class="ms-auto">
    <div class="card-body">
        <h5 class="card-title">Portfolio Balance</h5>
        <div class="mt-2">
            <!-- Display the updated portfolio balance -->
            <span>
                <p class="card-text col-auto"><i class="fas fa-dollar-sign fa-2x --gray-dark p-1 mb-3 mt-2"></i>{{request.user.userprofile.portfolio_balance }}</p>
            </span>
        </div>

        <!-- Button to trigger the form modal -->
        <button type="button" class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#updateBalanceModal">
            <i class="fas fa-exchange-alt"></i>  Update Balance
        </button>

        <!-- Modal for updating portfolio balance -->
        <div class="modal fade" id="updateBalanceModal" tabindex="-1" aria-labelledby="updateBalanceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateBalanceModalLabel">Add or Subtract Money</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Portfolio Balance Update Form -->
                        <form method="post" action="{% url 'trade_list' %}">
                            {% csrf_token %}
                            {{ portfolio_balance_form.as_p }}
                            <button type="submit" name="action" value="add" class="btn btn-primary">Add Money</button>
                            <button type="submit" name="action" value="subtract" class="btn btn-danger">Subtract Money</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock portfolio_balance_content %}

{% block pnl_content %}
<!-- Box 2 -->
<div class="ms-auto">
    <div class="card-body">
        <h5 class="card-title">PnL</h5>
        <p class="card-text">Realized PnL: <i class="fas fa-dollar-sign fa-1x --gray-dark p-1 mb-1 mt-4"></i> {{ pnl_data.total_realized_pnl }}</p>
        <p class="card-text">Unrealized PnL: <i class="fas fa-dollar-sign fa-1x --gray-dark p-1 mb-1 mt-1"></i> {{ pnl_data.total_unrealized_pnl }}</p>
    </div>
</div>
{% endblock pnl_content %}

{% block chart_content %}
<!-- Box 3 -->

<img src="data:image/png;base64,{{ image_base64 }}" alt="Realized Profit Chart">

<!-- Left arrow button -->
<button type="button" onclick="cycleChart(-1)" class="btn btn-sm bg-transparent" style="width: 15px; margin: auto auto;">&lt;</button>

<!-- Right arrow button -->
<button type="button" onclick="cycleChart(1)" class="btn btn-sm bg-transparent" style="width: 15px; margin: auto auto;">&gt;</button>

<!-- Interval options -->
<form method="get" action="" id="timeIntervalForm" style="display: none;">
    <label for="time_interval"></label>
    <div class="d-flex align-items-center">
        <select name="time_interval" id="time_interval" onchange="submitForm()" class="form-control">
            <option value="hourly" {% if time_interval == 'hourly' %}selected{% endif %}>Hourly</option>
            <option value="daily" {% if time_interval == 'daily' %}selected{% endif %}>Daily</option>
            <option value="monthly" {% if time_interval == 'monthly' %}selected{% endif %}>Monthly</option>
            <option value="yearly" {% if time_interval == 'yearly' %}selected{% endif %}>Yearly</option>
        </select>
    </div>
</form>

<script>
    // Define chart options
    const chartOptions = ['hourly', 'daily', 'monthly', 'yearly'];

    // Get chart select element
    const chartSelect = document.getElementById('time_interval');

    // Function to cycle through charts
    function cycleChart(direction) {
        const currentIndex = chartOptions.indexOf(chartSelect.value);
        let newIndex = (currentIndex + direction + chartOptions.length) % chartOptions.length;
        chartSelect.value = chartOptions[newIndex];
        submitForm(); 
    }
</script>


<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    function submitForm() {
        document.getElementById("timeIntervalForm").submit();
    }
</script>
{% endblock chart_content %}

{% block trade_content %}
<!-- Box 4 -->

<style>
    .pencil_color {
        color: #6c757d;
    }

    .hide-cell {
        display: none;
    }

    .hidden-cell {
        display: table-cell;

    }
</style>

<div class="p-3 m-2 scrollbar-container card-body">
    <!-- <a class="nav-link" href="{% url 'trade_list' %}"><i class="fas fa-redo text-muted"></i></a> -->
    <div class="table-responsive">
        <table id="tContainer" class="table table-sm">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>L / S</th>
                    <th>Risk</th>
                    <th>Margin</th>
                    <th>Leverage</th>
                    <th>Open</th>
                    <th>Closed</th>
                    <th>PnL</th>
                </tr>
            </thead>

            <tbody>
                {%for trade in trades%}
                <tr id="tradeRow{{ trade.row_number }}" data-trade-id="{{ trade.id }}">
                    <td>{{ trade.symbol }}</td>
                    <td>{{ trade.date }}</td>
                    <td>{{ trade.status }}</td>
                    <td>{{ trade.long_short }}</td>
                    <td>{{ trade.position }}%</td>
                    <td>${{ trade.margin }}</td>
                    <td>{{ trade.leverage }}x</td>
                    <td>${{ trade.open_price }}</td>
                    <td>${{ trade.current_price }}</td>
                    <td class="return-pnl-display">
                        ${{ trade.return_pnl }}
                    </td>
                    <td>
                        <!-- Edit Trade button -->
                        <button class="btn btn-sm square-btn bg-black edit-trade-button"
                            data-row-number="{{ trade.row_number }}" data-trade-id="{{ trade.id }}"><i id="pencil"
                                class="fas fa-pencil-alt pencil_color"></i></button>
                    </td>
                    <td>
                        <!-- Delete button -->
                        <button class="btn btn-secondary btn-sm square-btn bg-black delete-trade-button"
                            data-row-number="{{ trade.row_number }}" data-trade-id="{{ trade.id }}">X</button>
                    </td>
                </tr>
                {% endfor %}
                <div class="d-flex align-items-center">
                    <button id="showCreateTradeForm" class="btn btn-primary mb-3">Create Trade</button>

                    <!-- Pagination Links -->
                    <div class="pagination">
                        <span class="step-links p-3 pb-4 m-2">
                            {% if trades.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ trades.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current small text-muted">
                                Page {{ trades.number }} of {{ trades.paginator.num_pages }}.
                            </span>

                            {% if trades.has_next %}
                            <a href="?page={{ trades.next_page_number }}">next</a>
                            <a href="?page={{ trades.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>


                <div id="createTradeForm" class="hidden-form">
                    <form method="post" action="{% url 'trade_list_post' %}" id="createTradeForm">
                        {% csrf_token %}
                        <tr>
                            <td id="class-cells" class="hide-cell">
                                <div class="mb-2 mt-1">{{ form.symbol }}</div>
                            </td>
                            <td id="class-cells" class="hide-cell">
                                <div class="mb-2 mt-1">{{ form.date }}</div>
                            </td>
                            <td id="class-cells" class="hide-cell">
                                <div class="mb-2 mt-1">{{ form.status }}</div>
                            </td>
                            <td id="class-cells" class="hide-cell">
                                <div class="mb-2 mt-1">{{ form.long_short }}</div>
                            </td>
                            <td id="class-cells" class="hide-cell">
                                <div class="mb-2 mt-1">{{ form.position }}</div>
                            </td>
                            <td id="class-cells" class="hide-cell">
                                <div class="mb-2 mt-1">{{ form.margin }}</div>
                            </td>
                            <td id="class-cells" class="hide-cell">
                                <div class="mb-2 mt-1">{{ form.leverage }}</div>
                            </td>
                            <td id="class-cells" class="hide-cell">
                                <div class="mb-2 mt-1">{{ form.open_price }}</div>
                            </td>
                            <td id="class-cells" class="hide-cell">
                                <div class="mb-2 mt-1">{{ form.current_price }}</div>
                            </td>
                            <td id="class-cells" class="hide-cell">
                                <div class="mb-2 mt-1">{{ form.return_pnl }}</div>
                            </td>

                            <!-- Hidden field for save type -->
                            <input type="hidden" name="save_type" id="saveType" value="">

                            <!-- Save button -->
                            <td class="hide-cell" colspan="2">
                                <button id="save" type="submit" class="btn btn-success save-button">Save</button>
                            </td>
                        </tr>
                    </form>
                </div>
            </tbody>
        </table>
    </div>
</div>





<!-- <div class="p-5 m-3">
    <h1>Trades</h1>
    {% for trade in trades %}
    <p>Trade ID: {{ trade.id }} Row Number: {{ trade.row_number }}</p>
    {% endfor %}
</div> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/longShort.js' %}"></script>
<script src="{% static 'js/formFunction.js' %}"></script>
<script src="{% static 'js/editButton.js' %}"></script>
<script src="{% static 'js/currencySwap.js' %}"></script>

{% endblock trade_content %}