{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Trade List" %}{% endblock head_title %}

{% block content %}

<div class="p-5 m-3">
    <table class="table">
        <tbody>
            <tr>
                <th>Symbol</th>
                <th>Date</th>
                <th>Status</th>
                <th>L / S</th>
                <th>Risk</th>
                <th>Margin</th>
                <th>Leverage</th>
                <th>Open</th>
                <th>Closed</th>
                <th>Return PnL</th>
            </tr>
        <tbody>
            {%for trade in trades%}
            <tr id="tradeRow{{ trade.id }}">
                <td>{{ trade.symbol }}</td>
                <td>{{ trade.date }}</td>
                <td>{{ trade.status }}</td>
                <td>{{ trade.long_short }}</td>
                <td>{{ trade.position }}%</td>
                <td>${{ trade.margin }}</td>
                <td>{{ trade.leverage }}x</td>
                <td>${{ trade.open_price }}</td>
                <td>${{ trade.current_price }}</td>
                <td>${{ trade.return_pnl }}</td>
                <td>
                    <!-- Delete button -->
                    <button class="btn btn-secondary btn-sm square-btn bg-black delete-trade-button" data-trade-id="{{ trade.id }}">X</button>
                </td>
            </tr>

            {% endfor %}
            <button id="showCreateTradeForm" class="btn btn-primary mb-3">Create Trade</button>
            <div id="createTradeForm" class="hidden-form">
                <form method="post" action="{% url 'trade_list_post' %}" id="createTradeForm">
                    {% csrf_token %}
                    <tr>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.symbol }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.date }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.status }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.long_short }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.position }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.margin }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.leverage }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.open_price }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.current_price }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.return_pnl }}</div>
                        </td>
                        <td class="hide-cell save-button" colspan="2">
                            <button type="submit" class="btn btn-success">Save</button>
                        </td>
                    </tr>
                </form>
            </div>
        </tbody>
    </table>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'js/calculations.js' %}"></script>
<script src="{% static 'js/formFunction.js' %}"></script>


{% endblock content %}