{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Trade List" %}{% endblock head_title %}

{% block content %}

<div class="p-5 m-3">
    <table class="table">
        <tbody>
            <tr>
                <th>Symbol</th>
                <th>Date</th>
                <th>Status</th>
                <th>L / S</th>
                <th>Risk</th>
                <th>Margin</th>
                <th>Leverage</th>
                <th>Open</th>
                <th>Closed</th>
                <th>Return PnL</th>
            </tr>
        <tbody>
            {%for trade in trades%}
            <tr id="tradeRow{{ trade.id }}">
                <td>{{ trade.symbol }}</td>
                <td>{{ trade.date }}</td>
                <td>{{ trade.status }}</td>
                <td>{{ trade.long_short }}</td>
                <td>{{ trade.position }}%</td>
                <td>${{ trade.margin }}</td>
                <td>{{ trade.leverage }}x</td>
                <td>${{ trade.open_price }}</td>
                <td>${{ trade.current_price }}</td>
                <td>${{ trade.return_pnl }}</td>
                <td>
                    <!-- Delete button -->
                    <button class="btn btn-secondary btn-sm square-btn bg-black"
                        onclick="deleteTrade('{{ trade.id }}')">X</button>
                </td>
            </tr>

            {% endfor %}
            <button id="showCreateTradeForm" class="btn btn-primary mb-3">Create Trade</button>
            <div id="createTradeForm" class="hidden-form">
                <form method="post" action="{% url 'trade_list_post' %}" id="createTradeForm">
                    {% csrf_token %}
                    <tr>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.symbol }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.date }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.status }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.long_short }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.position }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.margin }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.leverage }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.open_price }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.current_price }}</div>
                        </td>
                        <td class="hide-cell">
                            <div class="mb-2 mt-1">{{ form.return_pnl }}</div>
                        </td>
                        <td class="hide-cell save-button" colspan="2">
                            <button type="submit" class="btn btn-success">Save</button>
                        </td>
                    </tr>
                </form>
            </div>
        </tbody>
    </table>

</div>

<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        const createTradeForm = document.getElementById('createTradeForm');
        const showCreateTradeForm = document.getElementById('showCreateTradeForm');
        const hideCells = document.querySelectorAll('.hide-cell');
        const createTradeButton = document.getElementById('showCreateTradeForm');

        showCreateTradeForm.addEventListener('click', function () {
            createTradeForm.classList.toggle('hidden-form');

            // Toggle the visibility of the hide-cell elements
            hideCells.forEach(function (cell) {
                cell.classList.toggle('hidden-cell');
            });

            // Hide the "Create Trade" button
            createTradeButton.style.display = 'none';
        });
    });


    function deleteTrade(tradeId) {
        // Get the CSRF token from the page
        const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        // Using fetch to send a DELETE request to the server
        fetch(`/delete-trade/${tradeId}/`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            credentials: 'include', // Include credentials (e.g., cookies) in the request
        })
            .then(response => response.json())
            .then(data => handleDeleteResponse(data, tradeId))
            .catch(error => console.error('Error:', error));
    }

    function handleDeleteResponse(data, tradeId, deletedRowNumber) {
        // Handle the response from the server
        if (data.success) {
            // If the deletion was successful, remove the row from the UI
            const row = document.getElementById(`tradeRow${tradeId}`);
            if (row) {
                row.remove();
            }

            // Update row numbers in the UI after deletion
            const rows = document.querySelectorAll('.trade-row');
            rows.forEach((row, index) => {
                const rowNumberElement = row.querySelector('.row-number');
                if (rowNumberElement) {
                    rowNumberElement.innerText = index + 1;
                }
            });

            // Add a message or log to indicate success
            console.log('Trade successfully deleted:', tradeId);
        } else {
            // Handle errors or provide feedback to the user
            console.error('Deletion failed:', data.error);
            
        }
    }

</script>



{% endblock content %}